{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
    <div class="mx-auto mt-5" style="max-width: 68.9%">   
        <h3> Dernières réalisations </h3>
        <p>This is a wider card </p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 rounded mx-auto" style="max-width: 70%" data-aos="fade-right">

        {% for peinture in peintures %}
            <div class="col" >
                <div class="card" >
                    <img src="{{ peinture.file }}"  class="card-img-top object-fit-cover border" alt="Mes réalisations" style="max-height: 299px">
                    <div class="card-body">
                        <h5 class="card-title"> {{ peinture.nom }} </h5>
                        <p class="card-text"> {{ peinture.description|u.truncate(150, '...', false) }} </p>
                    </div>

                    <hr class="card-meta-divider">

                    <p class="card-text d-flex justify-content-end p-3 ">
                        <small class="text-body-secondary ">
                            <time dateTime="2019-05-02" > Ajoutée le {{ peinture.createdAt|date('d/m/Y') }} </time>
                        </small>
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>
    
    <div class="d-flex justify-content-center mt-5">
        {% do peintures.setPageRange(2) %}
        {{ knp_pagination_render (peintures, 'base/pagination.html.twig')}}
    </div>
        
{% endblock %}



